{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Чайхана Лепесток</title>
	<link href="{% static 'css/templatemo-style.css' %}" rel="stylesheet" />
</head>

<body> 

	<div class="container">
		<div class="placeholder">
			<div class="parallax-window" data-parallax="scroll" data-image-src="{% static 'img/simple-house-01.jpg' %}">
				<div class="tm-header">
					<div class="row tm-header-inner">
						<div class="col-md-6 col-12">
							<div class="tm-site-text-box">
								<h1 class="tm-site-title">Чайхана Лепесток</h1>
								<h6 class="tm-site-description">ул. Куйбышева, 50/150, Батайск</h6>	
							</div>
						</div>
						<nav class="col-md-6 col-12 tm-nav">
							<ul class="tm-nav-ul">
								<li class="tm-nav-li"><a href="index.html" class="tm-nav-link active">Главная</a></li>
								<li class="tm-nav-li"><a href="admin" class="tm-nav-link">Для сотрудников</a></li>
							</ul>
						</nav>	
					</div>
				</div>
			</div>
		</div>

		<main>
			<header class="row tm-welcome-section">
				<h2 class="col-12 text-center tm-section-title">Добро пожаловать</h2>
				<p class="col-12 text-center">Ваша тихая гавань в Батайске, где всегда можно насладиться горячим чаем и приятной атмосферой</p>
			</header>

			<div class="row tm-gallery">
				<div id="tm-gallery-page-pizza" class="tm-gallery-page">
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gallery/01.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Шэн Пуэр</h4>
								<p class="tm-gallery-description">Шен пуэр – классический китайский чай, созданный путем постферментации, то есть дозревающий уже после изготовления.</p>
								<p class="tm-gallery-price">150₽</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gallery/02.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Линчжи</h4>
								<p class="tm-gallery-description">Линчжи, считающийся грибом бессмертия, имеет насыщенный химический состав: большое количество минералов, аминокислот и витаминов.</p>
								<p class="tm-gallery-price">120₽</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gallery/03.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Имбирный</h4>
								<p class="tm-gallery-description">Чай с имбирем и лимоном, сочетание, о котором знают все. Совмещает пользу для здоровья и приятный, терпкий вкус по доступной цене.</p>
								<p class="tm-gallery-price">115₽</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gallery/04.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Лемонграссовый</h4>
								<p class="tm-gallery-description">Лемонграссовый напиток мягко тонизирует, выводит токсины из организма. С его помощью можно укрепить иммунитет детям и взрослым.</p>
								<p class="tm-gallery-price">129₽</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gallery/05.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Тайский улун</h4>
								<p class="tm-gallery-description">Улун среднего уровня ферментации с плотной цветочной композицией вкуса. Имеет свой неотразимый, индивидуальный вкус.</p>
								<p class="tm-gallery-price">160₽</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gallery/06.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Да Хун Пао</h4>
								<p class="tm-gallery-description">Традиционный китайский чай, произрастающий в северо-западной части провинции Фуцзянь, горах Уи Шань, имеет сильную ферментацию.</p>
								<p class="tm-gallery-price">200₽</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gallery/07.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Жасминовый</h4>
								<p class="tm-gallery-description">Идеальный напиток для тех, кто любит освежающий вкус и нежный цветочный аромат чая. Расслабляет и помогает избавиться от стресса.</p>
								<p class="tm-gallery-price">135₽</p>
							</figcaption>
						</figure>
					</article>
					<article class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
						<figure>
							<img src="{% static 'img/gallery/08.jpg' %}" alt="Image" class="img-fluid tm-gallery-img" />
							<figcaption>
								<h4 class="tm-gallery-title">Женьшеневый</h4>
								<p class="tm-gallery-description">Чай Женьшеневый – жемчужина провинции Фуцзянь. Один из самых полезных и необычных китайских чаёв, имеющий приятный вкус.</p>
								<p class="tm-gallery-price">129₽</p>
							</figcaption>
						</figure>
					</article>
				</div> 
			</div>

			<div class="tm-container-inner-2 tm-contact-section">
				<div class="row">
					<div class="col-12 text-center">
						<h4 class="tm-gallery-title">Бронирование столика</h4>
						<p class="tm-mb-45">Чтобы забронировать столик заполните форму ниже, мы перезвоним вам в течении минуты</p>
						<form action="" method="post" class="col-12 text-center">
							{% csrf_token %}
							{{ form|crispy }}
							{# {% for f in form %} #}
							{# <p><label class="input w-full bg-black border-b bg-opacity-0 text-white px-0 py-4 mb-4 tm-border-gold" for="{{ f.id_for_label }}">{{ f.label }}: </label>{{ f }} </p> #}
							{# <div class="form-error">{{ f.errors }}</div> #}
							{# {% endfor %} #}
							<button class="tm-btn tm-btn-success tm-btn-right" type="submit" id="submit" onclick="clicks();">Записаться</button>
						</form>
					</div>
				</div>
			</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Все права защищены &copy; 2023 ООО "Лепесток"</p>
		</footer>
	</div>
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/parallax.min.js' %}"></script>
	<script src="{% static 'js/alert.js'%}"></script>
</body>
</html>